<h1>Weeks</h1>

<table class="table ngp-table">
  <thead>
    <th>firstDay</th>
    <th>oAvg</th>
    <th>dAvg</th>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat="week in weeks">
      <td><a class="btn btn-default" href="{{week.id}}">{{ week.firstDay | date: 'MMM, EEE dd' }}</a></td>
      <td>{{ week.oAvg | number: 1 }}</td>
      <td>{{ week.dAvg | number: 1 }}</td>
      <td><a href="#">Destroy</a></td>
    </tr>
  </tbody>
</table>

<div><span class="btn btn-primary" ng-click="createNewWeek()">Create</span></div>
